:root {
    /* Width */
    --max-width: 1200px;

    /* Colors */
    --black: #000;
    --white: #fff;
    --black2: #242424;
    --light-gray: #d3d3d3;
    --subtle-brown: #fff1e2;

    /* Font Sizes */
    --font-size-1half: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.dflex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.gap-2 {
    gap: 2rem;
}

.text-center {
    text-align: center;
}

.spacer-3 {
    padding: 3rem 0;
}

.spacer-5 {
    padding: 5rem 0;
}

.width-35 {
    width: 35%;
}

.rounded-button {
    border-radius: 50px;
    border: 1px solid var(--white);
    padding: 0.5rem 2rem;
    background-color: transparent;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/************************************************************
*                      Animation
**************************************************************/
@keyframes wave {
    0%   { transform: rotate(0deg) translateY(0); }
    25%  { transform: rotate(1deg) translateY(-2px); }
    50%  { transform: rotate(0deg) translateY(0); }
    75%  { transform: rotate(-1deg) translateY(2px); }
    100% { transform: rotate(0deg) translateY(0); }
  }
  

/************************************************************
*                      Header Section
**************************************************************/
header {
    width: 100%;
    position: absolute;
    z-index: 1;
}

header .menu button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--white);
}

/************************************************************
*                      Banner Section
**************************************************************/
#banner,
.parallax, 
.parallax__layer {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#banner .parallax  {
    position: relative;
    overflow: hidden;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.parallax__layer--back {
    z-index: -1;
    background-image: url("images/banner1.webp");
    background-attachment: fixed;
}

.parallax__layer--base {
    z-index: 0;
    background-image: url("images/banner2.webp");
}

.banner-content {
    width: 100%;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: var(--white);
    z-index: 0;
}
